.b2b-gallery{
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    &-none{
        display: none;
    }

    .section-title {
        text-align: center;
        width: 160px;
		font-size: 24px;
		line-height: 2.25rem;
		font-weight: 300;
		text-decoration: underline 2px #c3000a;
        text-underline-position: under;
		display: inline-block;
		margin-bottom: 40px;
	}

    .slider-container{
        width:100%;

        .b2b-gallery-controls{
            display: none;
        }

        .b2b-gallery-cards{
            position: relative;
            width: 100%;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            align-items: center;
    
            .card-img{
                width: 100%;
                height: 340px;
                object-fit: cover;
            }
    
            .card-wraper{
                box-sizing: border-box;
                background-color: white;
                padding: 24px 10px;
                position: relative;
                width: 80%;
                box-shadow: 0px 3px 6px #C3000A33;
                display: flex;
                flex-direction: column;
                align-items: center;
                top: -70px;
                margin-bottom: -67px;
    
                .card-title{
                    font-size: 24px;
                    font-weight: 700;
                    line-height: 2.625rem;
                    margin-bottom: 16px;
                }
    
                .card-line{
                    display: block;
                    height: 2px;
                    width: 100%;
                    background-color:#C3000A ;
                    margin-bottom: 16px;
                }
    
                .card-content{
                    color: #373737;
                    font-size: 15px;
                    font-weight: 300;
                    line-height: 1.406rem;
                }
            }
        }
        .b2b-gallery-dots{
            margin-top: 24px;
            width: 100%;
            display:flex;
            justify-content: center;

            .dot{
                margin-left:8px;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                padding: 0;
                border:none ;
                background-color: #37373799;
            }
    
            .tns-nav-active{
                background-color: #C3000A;
            }
        }
    }
    @media(min-width:1200px){
        margin-top: 160px;
        .section-title{
            width: 100%;
            font-size: 40px;
        }
        .slider-container{
            width: 1170px;
            position: relative;

            .b2b-gallery-controls{
                display: flex;
                justify-content: space-between;
                width: 100%;
                position: absolute;
                top: 260px;

                &-btn{
                    position: relative;
                    z-index: 2;
                    cursor: pointer;
                }
            }

            .b2b-gallery-cards{
        
                .card-img{
                    width: 900px;
                    height: 550px;
                }
        
                .card-wraper{
                    border: 5px #C3000ABF solid;
                    padding: 40px 30px;
                    position: relative;
                    width: 605px;
                    top: -180px;
                    left: 260px;
                    margin-bottom: -177px;
                    align-items: flex-start;
        
                    .card-title{
                        font-size: 32px;
                    }
        
                    .card-line{
                        height: 5px;
                        width: 400px;
                        margin-bottom: 24px;
                    }
        
                    .card-content{
                        font-size: 20px;
                        line-height: 1.875rem;
                    }
                }
            }

            .b2b-gallery-dots{
                margin-top: 40px;
    
                .dot{
                    margin-left:10px;
                    width: 14px;
                    height: 14px;
                }
            }
        }
    }

}