.know-our-services-cm{
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    .section-title {
        text-align: center;
        width: 160px;
		font-size: 24px;
		line-height: 2.25rem;
		font-weight: 300;
		text-decoration: underline 2px #c3000a;
        text-underline-position: under;
		display: inline-block;
		margin-bottom: 40px;
	}

    .slider-container{
        width:100%;
        height:724px;
        overflow:hidden;

        .tns-nav{
            width: 100%;
            position:absolute;
            bottom:0;
            left:0;
            display:flex;
            justify-content: center;

            button{
                margin-left:8px;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                padding: 0;
                border:none ;
                background-color: #37373799;
            }
    
            .tns-nav-active{
                background-color: #C3000A;
            }
        }
    }

    #kos-customize-controls{
        display: none;
    }
        
    &-cards{
        position: relative;
        width: 100%;
        height: 700px;
        overflow: hidden;
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .card-img{
            width: 100%;
            height: 340px;
            object-fit: cover;
        }

        .card-desk-img{
            display: none;
        }

        .card-wraper{
            box-sizing: border-box;
            background-color: white;
            padding: 24px 10px;
            position: absolute;
            bottom: 3px;
            left:10%;
            width: 80%;
            min-height: 427px;
            box-shadow: 0px 3px 6px #C3000A33;
            display: flex;
            flex-direction: column;
            align-items: center;

            .card-title{
                font-size: 24px;
                font-weight: 700;
                line-height: 2.625rem;
                margin-bottom: 16px;
            }

            .card-line{
                display: block;
                height: 2px;
                width: 100%;
                background-color:#C3000A ;
                margin-bottom: 16px;
            }

            .card-content{
                color: #373737;
                font-size: 15px;
                font-weight: 300;
                line-height: 1.406rem;
                max-height: 175px;
                margin-bottom: 32px;
            }

            .card-button{
                border: 1px solid #C3000A;
                padding:6.5px 14px;
                color: #C3000A;
                text-decoration: none;
                cursor: pointer;
                transition: 0.3s ease-out;
				&:hover{
                    background-color: #C3000A;
                    color: #F4F5F5;
                    transform: scale(1.1, 1.2);
				}
            }
        }
    }
    @media(min-width: 1200px){
        align-items: flex-start;
        width: unset;
        margin: 0;
        margin-top:100px;
        height: 975px;

        .section-title{
            width: 100%;
            margin-bottom: 60px;
            font-size: 40px;
        }

        .slider-container{
            height: 815px;
            .tns-nav{
                button{
                    margin-left:10px;
                    width: 14px;
                    height: 14px;
                }
            }
        }

        #kos-customize-controls{
            box-sizing: border-box;
            display: inline-block;
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding: 0 110px;
            position: relative;
            top: 350px;
            z-index: 1;

            .controls-btn{
                cursor: pointer;
            }
        }

        &-cards{
            position: relative;
            height: 825px;

            .card-img{
                display: none;
            }
    
            .card-desk-img{
                position: relative;
                display: inline-block;
                width: 100%;
                height: 612px;
                object-fit: cover;
                z-index: -2;
            }
    
            .card-wraper{
                bottom: 20px;
                left:120px;
                width: 572px;
                min-height: 396px;
                padding: 27px 0;
                padding-left: 36px;
                padding-right: 50px; 
                align-items: flex-start;

                &::after{
                    display: inline-block;
                    position: absolute;
                    z-index: -1;
                    top: -5px;
                    left: 5px;
                    content: '';
                    width: 100%;
                    height: 100%;
                    background-color: #C3000A;
                }
    
                .card-title{
                    width: 350px;
                    font-size: 28px;
                    font-weight: 700;
                    line-height: 2.625rem;
                }
    
                .card-line{
                    height: 5px;
                    width: 246px;
                    margin-bottom: 24px;
                }
    
                .card-content{
                    font-size: 20px;
                    font-weight: 300;
                    line-height: 1.8rem;
                }
    
                .card-button{
                    align-self: center;
                    border: 2px solid #C3000A;
                    padding:12px 42px;
                    color: #C3000A;
                    text-decoration: none;
                    cursor: pointer;
                    &:hover{
                        background-color: #C3000A;
                        color: #F4F5F5;
                    }
                }
            }
        }

    }
    @media(min-width:1366px){
        margin-left: calc((100% - 1366px) / 2);
        margin-right: calc((100% - 1366px) / 2);


        .slider-container{
            width: 1366px;
        }

        #kos-customize-controls{
            width: 1366px;
            padding: 0 120px;
        }

        .card-wraper{
            left: 185px;
        }
    }
}