.plans-sd{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: -40px;
    &-none{
        display: none;
    }

    .section-title {
        text-align: center;
        width: 190px;
		font-size: 24px;
		line-height: 2.25rem;
		font-weight: 300;
		text-decoration: underline 2px #c3000a;
        text-underline-position: under;
		display: inline-block;
	}

    .categories-desk{
        display: none;
    }

    .categories{
        display: none;
        margin-top: 24px;
        position: relative;
        padding:0 10px ;
        width: 142px;
        height: 30px;

        .categories-select{
            width: 100%;
            height: 100%;
            padding-left: 10px;
            background-color: white;
            border: 1px solid#C3000A ;
            color: #C3000A;
            outline:none;
        }

        & select[class="categories-select"]{
            appearance: none;
        }
        .categories-arrow{
            height: 10px;
            width: 16px;
            color: #C3000A;
            padding: 2px;
            display: block;
            position: absolute;
            top:7px;
            right:14px;
            pointer-events: none;
        }
    }

    .cards-wrapper{
        position: relative;
        margin-top: 30px;
        overflow: hidden;
        width: 100%;
        height: 585px;
        &-active{
            height: 650px;
        }
        @media(min-width:400px){
            height: 545px;
            &-active{
                height: 610px;
            }
        }
        .plans-slider{
            position: absolute;
            left: 0;
            display: flex;
            z-index: 2;

            .card-outside{
                .card{
                    width: 100%;
                    box-sizing: border-box;
                    box-shadow: 0px 3px 6px #C3000A33;
                    padding: 24px 15px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    position: relative;
                    background-color: white;
                    margin-top: 3px;  
        
                    .card-dest{
                        display: none;
                    }
                    &-active{
                        box-shadow: 0px 3px 6px #F9B700BF;

                    }
        
                    &-speed{
                        font-size: 32px;
                        color: #C3000A;
                        text-align: center;
                        font-weight: 700;
                    }
        
                    &-price{
                        margin-top: 15px;
                        font-size: 24px;
                        text-align: center;
                    }
        
                    &-text{
                        margin-top: 15px;
                        font-size: 16px;
                        color: #373737;
                        line-height: 1.5rem;
                        font-weight: 300;
                        text-align: center;
                    }
        
                    &-redline{
                        margin-top: 17px;
                        display: block;
                        width: 100%;
                        height: 2px;
                        background-color: #c3000a;
                    }

                    
        
                    .features-wrapper{
                        margin-top: 15px;
        
                        .feature{
                            display: flex;
                            align-items: center;
        
                            .icon-space{
                                width: 30px;
                                height: 42px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                            }
        
                            &-icon{
                                height: 19px;
                            }
        
                            &-title{
                                font-size: 16px;
                                margin-left: 16px;
                                line-height: 1.5rem;
                            }
                        }
                    }
                    .services-title{
                        margin-top: 20px;
                        text-align: center;
                        font-size: 16px;
                    }
                    ::-webkit-scrollbar {
                        width: 3px;
                        border-radius: 5px;
                    }
                    ::-webkit-scrollbar-track {
                        background: #ffffff00;
                    }
                      
                    ::-webkit-scrollbar-thumb {
                    background: #C3000A;
                    cursor: pointer;
                    }

                    ::-webkit-scrollbar-thumb:hover {
                    background: #C3000A;
                    cursor: pointer;
                    }
                    &-active{
                        ::-webkit-scrollbar-thumb {
                            background: #F9B700BF;
                        }
                        ::-webkit-scrollbar-thumb:hover {
                            background: #F9B700BF;
                        }
                    }
                
                    .services-wrapper{
                        position: relative;
                        width: 184px;
                        padding:5px 15px;
                        max-height: 108px;
                        overflow-y: scroll;
                        overflow-x: hidden;

                        @media(min-width:360px){
                            padding:5px 33px;
                        } 
                        @media(min-width:375px){
                            padding:5px 44px;
                        }
                        @media(min-width:400px){
                            padding:5px 58px;
                        }
                        @media(min-width:440px){
                            padding:5px 83px;
                        }
                        
                        
                        .services-IS{
                            position: relative;
                            width: 100%;
                            display: flex;
                            justify-content: center;
        
                            .IS-link{
                                margin-left: 6px;
                                margin-right: 6px;
                                &:first-child{
                                    margin-left: 0;
                                }
                                &:nth-child(4n){
                                    margin-right: 0;
                                }
                                .IS-icon{
                                    width: 32px;
                                    height: 32px;
                                    border-radius: 50%;
                                    box-shadow: 0px 3px 6px #C3000A33;
                                }
                            }

                            .services-plus-button{
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                position: absolute;
                                background-color: #C3000A;
                                color: white;
                                right: -5px;
                                bottom: -5px;
                                height: 25px;
                                width: 25px;
                                border-radius: 50%;
                                cursor: pointer;
                                z-index: 2;

                                @media(min-width:1200px){
                                    height:30px;
                                    width:30px;
                                    right:0;
                                }
                            }
                        }

                        .services-plus{
                            display: none;
    
                            &-active{
                                position: relative;
                                width: 100%;
                                display: flex;
                                flex-wrap: wrap;
                                justify-content: center;
            
                                .IS-link{
                                    margin-top: 2px;
                                    margin-left: 6px;
                                    margin-right: 6px;

                                    .IS-icon{
                                        width: 32px;
                                        height: 32px;
                                        border-radius: 50%;
                                        box-shadow: 0px 3px 6px #C3000A33;
                                    }
                                }
    
    
                            }
                        }
                    }

                    
                    .cta{
                        margin-top: 16px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        min-width: 120px;
                        min-height: 30px;
                        background-color: #C3000A;
                        color: white;
                    }

                    .more-info{
                        margin-top: 16px;
                        text-align: center;
                        text-decoration: underline;
                        font-size: 16px;
                        font-weight: 1.5rem;
                        color:#373737;
                    }
                }   
            }
        }

        .tns-controls{
            display: none;
        }

        .tns-nav{
            width: 100%;
            position: absolute;
            display: flex;
            justify-content: center;
            bottom: 40px;
            z-index: 1;
            
            button{
                display: block;
                margin-left:8px;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                padding: 0;
                border:none ;
                background-color: #37373799;
            }
    
            .tns-nav-active{
                background-color: gold;
            }
        }
        .tns-horizontal.tns-subpixel>.tns-item{
            display: flex;
        } 
    }

    @media(min-width:1200px){
        margin-top: -64px;
        .section-title{
            width: 100%;
            margin-bottom: 80px;
            font-size: 40px;
        }

        @keyframes lookAtMe{
            0%{transform: scale(1, 1);}
            50%{transform: scale(1.03);}
            100%{transform: scale(1, 1);}
        }

        .cards-wrapper{
            padding-top: 35px;
            height: 830px;

            .plans-slider{
                padding-left: 20px;

                .card-outside{
                    .card{
                        padding: 30px 15px;

                        .card-dest{
                            display: block;
                            position: absolute;
                            top: -25px;
                            width:200px;
                            height: 50px;
                            background-color: white;
                            color: #C3000A;
                            font-size: 24px;
                            font-weight: 700;
                            box-shadow: 0px 3px 6px #C3000A33;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
        
                        &-active{
                            animation: lookAtMe;
                            animation-iteration-count: infinite;
                            animation-duration:3s;
                            &:hover{
                                animation-play-state: paused;
                            }

                            .card-dest{
                                display: block;
                                position: absolute;
                                top: -25px;
                                width:200px;
                                height: 50px;
                                background-color: white;
                                color: #C3000A;
                                font-size: 24px;
                                font-weight: 700;
                                box-shadow: 0px 3px 6px #F9B700BF;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                            }
                            
                        }
        
                        &-speed{
                            font-size: 48px;
                        }
        
                        &-price{
                            font-size: 36px;
                        }
        
                        &-text{
                            font-size: 18px;
                            text-align: left;
                        }
        
                        &-redline{
                            margin-top: 15px;
                        }

                        .features-wrapper{
                            .feature{
                                margin-top: 15px;
                                &-title{
                                    font-size: 20px;
                                }
        
                                &-icon{
                                    height: 24px;
                                }
                            }

                        }
                        
                        .services-title{
                            font-size: 20px;
                        }
                        ::-webkit-scrollbar {
                            width: 5px;
                            border-radius: 5px;
                            cursor: pointer;
                          }
                        .services-wrapper{
                            margin-top: 10px;
                            width: 270px;
                            max-height: 170px;
                            padding:5px 2px;

                            @media(min-width:1366px){
                                padding:5px 16px;
                            }
            
                            .services-IS{
            
                                .IS-link{
                                    margin-left: 8px;
                                    margin-right: 8px;
                                    .IS-icon{
                                        width: 50px;
                                        height: 50px;
                                    }
                                }
                            }
                            .services-plus{
                                .IS-link{
                                    margin-top: 5px;
                                    margin-left: 8px;
                                    margin-right: 8px;
                                    .IS-icon{
                                        width: 50px;
                                        height: 50px;
                                    }
                                }

                            }
                        }
                        .cta{
                            margin-top: 24px;
                            font-size: 20px;
                            min-width: 193px;
                            min-height: 48px;
                            transition: 0.3s ease-out;
                            &:hover{
                                transform: scale(1.1, 1.2);
                            }
                        }

                        .more-info{
                            margin-top: 32px;
                            font-size: 16px;
                            font-weight: 1.875rem;
                        }
                    }
                }
            }
        }

    }
    @media(min-width:1366px){
        margin-left: calc((100% - 1366px) / 2);
        margin-right: calc((100% - 1366px) / 2);
    }
}

.plans-graph{
    display: none;
    @media(min-width:1200px){
        display: block;
		position: absolute;
		top: 1030px;
		left: 0;
		width: 100%;
		height: 1270px;
		overflow: hidden;
		z-index: -1;
	
		.plans-graph-img-1{
			position: absolute;
			top: 0px;
			left: -325px;
		}
	
		.plans-graph-img-2{
			position: absolute;
			bottom: -145px;
			right: -200px;
		}
    }
}
