.path-section {
	padding: 60px 0;
	text-align: center;
	position: relative;
	&-none{
        display: none;
    }
	.path-graphism-left {
		display: none;
	}
	.path-graphism-right {
		display: none;
	}
	.section-title {
		margin-bottom: 24px;
		text-align: center;
		width: 160px;
		font-size: 24px;
		line-height: 2.25rem;
		font-weight: 300;
		text-decoration: underline 2px #c3000a;
		text-underline-position: under;
		display: inline-block;
	}
	.section-wrapper {
		text-align: left;
		max-width: 246px;
		margin: 0 auto;
		.first-block {
			margin-bottom: 41px;

			.fst-block-img {
				background-image: url(../../assets/path1.svg);
				background-position: center;
				background-size: contain;
				background-repeat: no-repeat;
				width: 100%;
				height: 200px;
				margin-bottom: 56px;
			}
			.fst-box {
				box-sizing: border-box;
				color: #373737;
				box-shadow: 0px 3px 6px #c3000a33;
				padding: 25px 10px;
				.block-title {
					font-size: 24px;
					font-weight: 700;
					line-height: 42px;
					margin-bottom: 16px;
				}
				.block-description {
					font-size: 15px;
					line-height: 22.5px;
					font-weight: 300;
				}
				.block-description::before {
					content: ' ';
					background-color: #c3000a;
					width: 100%;
					padding-top: 2px;
					display: block;
					margin-bottom: 16px;
				}
			}
		}
		.second-block {
			margin-bottom: 41px;

			.snd-block-img {
				background-image: url(../../assets/path2.svg);
				background-position: center;
				background-size: contain;
				background-repeat: no-repeat;
				width: 100%;
				height: 200px;
				margin-bottom: 56px;
			}
			.snd-box {
				box-sizing: border-box;
				color: #373737;
				box-shadow: 0px 3px 6px #c3000a33;
				padding: 25px 10px;
				.block-title {
					font-size: 24px;
					font-weight: 700;
					line-height: 42px;
					margin-bottom: 16px;
				}
				.block-description {
					box-sizing: border-box;
					font-size: 15px;
					line-height: 22.5px;
					font-weight: 300;
				}
				.block-description::before {
					content: ' ';
					background-color: #c3000a;
					width: 100%;
					padding-top: 2px;
					display: block;
					margin-bottom: 16px;
				}
			}
		}
		.third-block {
			margin-bottom: 80px;
			.trd-block-img {
				background-image: url(../../assets/path3.svg);
				background-position: center;
				background-size: contain;
				background-repeat: no-repeat;
				width: 100%;
				height: 200px;
				margin-bottom: 56px;
			}
			.trd-box {
				box-sizing: border-box;
				color: #373737;
				box-shadow: 0px 3px 6px #c3000a33;
				padding: 25px 10px;
				.block-title {
					font-size: 24px;
					font-weight: 700;
					line-height: 42px;
					margin-bottom: 16px;
				}
				.block-description {
					font-size: 15px;
					line-height: 22.5px;
					font-weight: 300;
				}
				.block-description::before {
					content: ' ';
					background-color: #c3000a;
					width: 100%;
					padding-top: 2px;
					display: block;
					margin-bottom: 16px;
				}
			}
		}
		.accordion-tax {
			.accordion-box {
				display: block;
				max-width: 246px;
				margin: 0 auto;
				padding: 5px 15px 31px 0;
				cursor: pointer;
				text-align: left;
				background-color: transparent;
				border: 0;
				border-bottom: 2px solid #c4c4c4;
				display: flex;
				position: relative;
				.drop-down-text {
					font-size: 20px;
					font-weight: 700;
					line-height: 24px;
				}
				.plusIcon{
					width: 16px;
					height: 16px;
					color:#c3000a;
					position: absolute;
					right:0;
					top: 30px;
				}
			}
			.accordion-content {
				margin-top: 50px;
                display: none;
				
                &-active {
                    display: block;
                }
				.accordion-title {
					font-size: 20px;
					font-weight: 500;
					line-height: 22px;
					margin-bottom: 16px;
				}
				.accordion-description {
					font-size: 18px;
					line-height: 22px;
					font-weight: 300;
					margin-bottom: 50px;
				}
				.tax-title {
					text-align: right;
					margin-bottom: 16px;
					font-size: 20px;
					font-weight: 500;
					color: #c3000a;  
                    margin-right: -10px;                  
				}
				.tax-box {
					.tax-item {
						display: flex;
						align-items: center;
						margin-bottom: 16px;
						.tax-icon {
							width: 32px;
							height: 42px;
							margin-right: 24px;
						}
						.tax-info {
							font-weight: 300;
							font-size: 16px;
							line-height: 20px;
							margin-right: 50px;
						}
						.tax-price {
							font-weight: 500;
							font-size: 20px;
							line-height: 20px;
						}
					}
				}
			}
            
		}
	}
}

@media (min-width: 1200px) {
	.path-section {
		padding: 60px 0;
		text-align: center;
		overflow: hidden;
		.path-graphism-left {
			display: block;
			position: absolute;
			top: 400px;
			left: -300px;
		}
		.path-graphism-right {
			display: block;
			position: absolute;
			bottom: 250px;
			right: -150px;
			z-index: -1;
		}
		.section-title {
			width: 100%;
			margin-bottom: 168px;
			font-size: 40px;
			line-height: 70px;
		}
		.section-wrapper {
			max-width: 1045px;
			.first-block {
				margin-bottom: 200px;
				display: flex;
				justify-content: space-between;
				position: relative;
				.fst-block-img {
					height: 278px;
					margin-bottom: 56px;
					max-width: 280px;
				}
				.fst-block-img::after {
					content: ' ';
					background-color: #ffd70080;
					width: 6px;
					padding-top: 300px;
					display: block;
					margin-bottom: 16px;
					position: absolute;
					top: 240px;
					left: 140px;
					z-index: -1;
				}
				.fst-box {
					background-color: #ffffff;
					box-sizing: border-box;
					box-shadow: 0px 3px 6px #c3000a33;
					border-top: 8px solid #c3000a;
					border-right: 8px solid #c3000a;
					padding: 36px 50px 40px 35px;
					max-width: 700px;
					//height: 278px;
					.block-title {
						font-size: 28px;
					}
					.block-description {
						font-size: 20px;
						line-height: 30px;
					}
					.block-description::before {
						max-width: 264px;
						padding-top: 6px;
						margin-bottom: 24px;
					}
				}
			}
			.second-block {
				margin-bottom: 200px;
				display: flex;
				justify-content: space-between;
				flex-direction: row-reverse;
				position: relative;
				.snd-block-img {
					height: 278px;
					margin-bottom: 56px;
					max-width: 280px;
				}
				.snd-block-img::before {
					content: '';
					background-color: #ffd70080;
					width: 200px;
					padding-top: 6px;
					display: block;
					margin-bottom: 16px;
					position: absolute;
					top: 140px;
					right: 145px;
					z-index: -1;
				}
				.snd-block-img::after {
					content: '';
					background-color: #ffd70080;
					width: 6px;
					padding-top: 300px;
					display: block;
					margin-bottom: 16px;
					position: absolute;
					top: 242px;
					right: 145px;
					z-index: -1;
				}
				.snd-box {
					background-color: #ffffff;
					box-sizing: border-box;
					box-shadow: 0px 3px 6px #c3000a33;
					border-top: 8px solid #c3000a;
					border-left: 8px solid #c3000a;
					padding: 36px 50px 40px 35px;
					max-width: 700px;
					//height: 278px;
					.block-title {
						font-size: 28px;
					}
					.block-description {
						font-size: 20px;
						line-height: 30px;
					}
					.block-description::before {
						max-width: 264px;
						padding-top: 6px;
						margin-bottom: 24px;
					}
				}
			}
			.third-block {
				margin-bottom: 105px;
				display: flex;
				justify-content: space-between;
				position: relative;
				.trd-block-img {
					height: 278px;
					margin-bottom: 56px;
					max-width: 280px;
				}
				.trd-block-img::after {
					content: ' ';
					background-color: #ffd70080;
					width: 200px;
					padding-top: 6px;
					display: block;
					margin-bottom: 16px;
					position: absolute;
					top: 140px;
					left: 145px;
					z-index: -1;
				}
				.trd-box {
					background-color: #ffffff;
					box-sizing: border-box;
					box-shadow: 0px 3px 6px #c3000a33;
					border-top: 8px solid #c3000a;
					border-right: 8px solid #c3000a;
					padding: 36px 50px 40px 35px;
					max-width: 700px;
					//height: 278px;
					.block-title {
						font-size: 28px;
					}
					.block-description {
						font-size: 20px;
						line-height: 30px;
					}
					.block-description::before {
						max-width: 264px;
						padding-top: 6px;
						margin-bottom: 24px;
					}
				}
			}
			.accordion-tax {
				box-sizing: border-box;
				max-width: 712px;
				margin: 0 auto;
				box-shadow: 0px 3px 6px #c3000a33;
				padding: 30px 24px;
				.accordion-box {
					display: none;
				}
				.accordion-content {
					display: flex;
					flex-direction: column;
					margin-top: 0px;
					.accordion-title {
						font-size: 20px;
						font-weight: 500;
						line-height: 22px;
						margin-bottom: 25px;
					}
					.accordion-description {
						font-size: 18px;
						line-height: 22px;
						font-weight: 300;
						margin-bottom: 32px;
					}
					.tax-title {
						width: 100%;
						max-width: 664px;
						text-align: right;
						margin-bottom: 24px;
						font-size: 20px;
						font-weight: 500;
						color: #c3000a;
						//margin-right: 45px;
					}
					.tax-box {
						.tax-item {
							width: 100%;
							display: flex;
							align-items: center;
							margin-bottom: 24px;
							.tax-icon {
								width: 24px;
								height: 24px;
								margin-right: 16px;
							}
							.tax-info {
								width: 70%;
								justify-self: flex-start;
								font-weight: 300;
								font-size: 20px;
								line-height: 24px;
							}
							.tax-price {
								text-align: right;
								width: 30%;
								font-weight: 500;
								font-size: 20px;
								line-height: 24px;
							}
						}
					}
				}
			}
		}
	}
}
