.about-us-graph{
    display: none;
    
    @media(min-width:1200px){
            display: block;
            position: absolute;
            top: 880px;
            left: 0;
            width: 100%;
            height: 6000px;
            overflow: hidden;
            z-index: -1;
        
            .about-us-graph-img-1{
                position: absolute;
                top: -100px;
                left: -250px;
                transform: rotate(85deg);
            }
        
            .about-us-graph-img-2{
                position: absolute;
                top: 600px;
                left: -265px;
            }
    
            .about-us-graph-img-3{
                position: absolute;
                top: 600px;
                right: -330px;
            }
    
            .about-us-graph-img-4{
                position: absolute;
                top: 1280px;
                right: -200px;
            }
    
            .about-us-graph-img-5{
                position: absolute;
                top: 2050px;
                left:-305px;
            }
    
            .about-us-graph-img-6{
                position: absolute;
                top: 2700px;
                right:-155px;
            }
    
            .about-us-graph-img-7{
                position: absolute;
                top: 3440px;
                left:-345px;
            }
    
            .about-us-graph-img-8{
                position: absolute;
                top: 4310px;
                right:-365px;
            }
    
            .about-us-graph-img-9{
                position: absolute;
                top: 5280px;
                left:-340px;
            }
    }
}