.jobs{
    margin-top: 64px;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .section-title {
        display: inline-block;
        text-align: center;
        width: 190px;
		font-size: 24px;
		line-height: 2.25rem;
		font-weight: 300;
		text-decoration: underline 2px #c3000a;
        text-underline-position: under;
        align-self: center;
	}

    .jobs-mobile{
        display: flex;
        flex-direction: column;
        align-items: center;
        .jobs-select-wrapper{
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            margin-top: 24px;
            height: 30px;
            background-color: white;
            border: 1px solid#C3000A ;
            box-sizing: border-box;
            
            .jobs-select{
                padding-right:30px;
                padding-left: 10px;
                height: 100%;
                background-color: white;
                color: #C3000A;
                outline:none;
                border: none;
            }
    
            & select[class="jobs-select"]{
                appearance: none;
                outline:none;
            }
    
            .jobs-select-arrow{
                right: 10px;
                position: absolute;
                height: 10px;
                width: 16px;
                color: #C3000A;
                display: block;
                pointer-events: none;
            }
        }
    
        .jobs-cards-wrapper{
            margin-top: 24px;
            width: 100%;
    
            .jobs-card{
                width: 100%;
                display: none;
                flex-direction: column;
                align-items: center;
    
                &-active{
                    display: flex;
                }
    
                &-image{
                    width: 100%;
                    height: 340px;
                }
    
                .jobs-content-wrapper{
                    margin-top: -70px;
                    width: 254px;
                    padding: 24px 10px;
                    box-shadow: 0px 3px 6px #C3000A33;
                    margin-bottom: 5px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    box-sizing: border-box;
                    background-color: white;
    
                    .jobs-card-title{
                        font-size: 24px;
                        font-weight: 700;
                        line-height: 2.625rem;
                    }
    
                    .jobs-card-red-line{
                        display: block;
                        width: 100%;
                        height: 2px;
                        background-color: #C3000A;
                    }
    
                    .jobs-card-text{
                        margin-top: 16px;
                        font-size: 15px;
                        font-weight: 300;
                        line-height: 1.4rem;
                        color: #373737;
                    }

                    .jj-wrapper{
                        margin-top: 8px;

                        .jj-dropdown{
                            background-color: #C3000A;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            padding: 6.5px 18px;
                            box-sizing: border-box;
                            transition: 1s;
                            margin-top: 16px;

                            &-title{
                                font-size: 15px;
                                font-weight: 500;
                                color: white;
                            }

                            &-arrow{
                                width: 16px;
                                height: 10px;
                                transition: 0.3s;

                                &-active{
                                    transform: rotate(180deg);
                                }
                            }
                        }

                        .jj-content{
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            max-height: 0;
                            overflow: hidden;
                            transition: 0.3s;
                            box-sizing: border-box;

                            &-active{
                                max-height: 300px;
                                padding-top: 24px;
                                padding-bottom: 8px;
                            }

                            .jj-desc{
                                font-size: 15px;
                                font-weight: 300;
                                line-height: 1.4rem;
                            }

                            .jj-button{
                                display: inline-block;
                                margin-top: 24px;
                                padding: 6.5px 18.5px;
                                background-color: white;
                                color: #C3000A;
                                border: #C3000A 1px solid;
                                &:hover{
                                    background-color: #C3000A;
                                    color: #F4F5F5;
                                }
                            }
                        }
                    }
                    .jobs-card-button{
                        display: inline-block;
                        margin-top: 24px;
                        padding: 6.5px 18.5px;
                        background-color: white;
                        color: #C3000A;
                        border: #C3000A 1px solid;
                        &:hover{
                            background-color: #C3000A;
                            color: #F4F5F5;
                        }
                    }
                }
            }
        }
    }
    .jobs-desk{
        display: none;
    }
    @media(min-width:1200px){
        margin-top: 150px;
        .section-title{
            width: 100%;
            font-size: 40px;
        }

        .jobs-mobile{
            display: none;
        }

        .jobs-desk{
            display: flex;
            flex-direction: column;
            align-items: center;

            .jobs-desk-options{
                margin-top: 80px;
                display: flex;

                .jobs-desk-option{
                    position: relative;
                    font-size: 24px;
                    font-weight: 300;
                    padding: 0 32px 18px 32px;
                    border-bottom: 1px solid #373737;
                    cursor: pointer;
                    z-index: 1;

                }
                .tns-nav-active{
                    border-bottom: 2px solid #C3000A;
                    color: #C3000A;
                }
            }

            .jobs-desk-controls{
                width:910px;
                display: flex;
                justify-content: space-between;
                position: absolute;
                top: 110px;

                &-btn{
                    position: relative;
                    cursor: pointer;
                }

            }
            .jobs-desk-cards-wrapper{
                display: block;
                margin-top: 40px;
                width: 1166px;
                overflow: initial !important;

                .jobs-slider-wrapper{

                    .jobs-desk-card{
                        display: flex;
                        flex-direction: row-reverse;
    
                        &-image{
                            z-index:-1;
                            width: 720px;
                            height: 480px;
                        }
        
                        .jobs-desk-content-wrapper{
                            box-sizing: border-box;
                            position: relative;
                            top: 70px;
                            left:100px;
                            width: 572px;
                            min-height: 300px;
                            background-color: white;
                            box-shadow: 0px 3px 6px #C3000A33;
                            padding: 40px 56px 25px 36px;
                            margin-bottom: 75px;
    
                            &::after{
                                position: absolute;
                                content: '';
                                background-color:#C3000A;
                                width: 100%;
                                height: 100%;
                                top: -5px;
                                left: -5px;
                                z-index: -1;
                            }
                            
                            .jobs-desk-card-title{
                                font-size: 26px;
                                font-weight: 700;
                                line-height: 2.625rem;
                            }
        
                            .jobs-desk-card-red-line{
                                margin-top: 18px;
                                display: block;
                                width: 264px;
                                height: 5px;
                                background-color:#C3000A ;
                            }
        
                            .jobs-desk-card-text{
                                margin-top: 24px;
                                font-size: 18px;
                                font-weight: 300;
                                line-height: 1.875rem;
                            }

                            .jj-desk-wrapper{
                                margin-top: 8px;
        
                                .jj-desk-dropdown{
                                    background-color: #C3000A;
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: center;
                                    padding: 12.5px 25px;
                                    box-sizing: border-box;
                                    transition: 1s;
                                    margin-top: 16px;
                                    cursor: pointer;
        
                                    &-title{
                                        font-size: 20px;
                                        font-weight: 500;
                                        color: white;
                                    }
        
                                    &-arrow{
                                        width: 32px;
                                        height: 20px;
                                        transition: 0.3s;
        
                                        &-active{
                                            transform: rotate(180deg);
                                        }
                                    }
                                }
        
                                .jj-desk-content{
                                    display: flex;
                                    flex-direction: column;
                                    align-items: flex-start;
                                    max-height: 0;
                                    overflow: hidden;
                                    transition: 0.3s;
                                    box-sizing: border-box;
        
                                    &-active{
                                        max-height: 300px;
                                        padding-top: 24px;
                                        padding-bottom: 8px;
                                    }
        
                                    .jj-desk-desc{
                                        font-size: 18px;
                                        font-weight: 300;
                                        line-height: 1.875rem;
                                    }
        
                                    .jj-desk-button{
                                        position: relative;
                                        font-size: 20px;
                                        font-weight: 500;
                                        display: inline-block;
                                        margin-top: 24px;
                                        padding: 12.5px 30px;
                                        background-color: white;
                                        color: #C3000A;
                                        border: #C3000A 1px solid;
                                        transition: 0.3s ease-out;
                                        &:hover{
                                            left: 9px;
                                            background-color: #C3000A;
                                            color: #F4F5F5;
                                            transform: scale(1.1, 1.2);
                                            
                                        }
                                    }
                                }
                            }
        
                            .jobs-desk-card-button{
                                display: block;
                                margin-top: 24px;
                                padding: 12.5px 25px;
                                color: #C3000A;
                                border:#C3000A 1px solid;
                                cursor: pointer;
                                transition: 0.3s ease-out;
                                font-size: 20px;
                                font-weight: 500;
                                &:hover{
                                    background-color: #C3000A;
                                    color: #F4F5F5;
                                    transform: scale(1.1, 1.2);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}