.channels-packages.container {
    box-sizing: border-box;
    margin: 64px 0 0 0;
    padding: 0 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    
    .section-title{
        text-align: center;
        width: 160px;
		font-size: 24px;
		line-height: 2.25rem;
		font-weight: 300;
		text-decoration: underline 2px #c3000a;
        text-underline-position: under;
		display: inline-block;
    }

    .section-text{
        margin-top: 16px;
        text-align: center;
        font-size: 15px;
        font-weight: 300;
        color: #373737;
    }

    .mobile{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        width: 100%;

        .packages-wrapper{
        margin-top: 24px;
        position: relative;
        padding:0 10px ;
        width: 142px;
        height: 30px;
        
        .packages{
            width: 100%;
            height: 100%;
            padding-left: 10px;
            background-color: white;
            border: 1px solid#C3000A ;
            color: #C3000A;
            outline:none;
            &-arrow{
                height: 10px;
                width: 16px;
                color: #C3000A;
                padding: 2px;
                display: block;
                position: absolute;
                top:7px;
                right:14px;
                pointer-events: none;
            }
        }
        
        & select[class="packages"]{
            appearance: none;
        }
    }
        .categories{
            margin-top: 30px;
            display: flex;
            width: 100%;
            justify-content: space-between;
            flex-wrap: wrap;
            
            .categorie{
                margin-bottom: 16px;
                min-width: 110px;
                height: 28px;
                box-sizing: border-box;
                padding:6.5px 0;
                font-size: 15px;
                font-weight: 500;
                color: #C3000A;
                box-shadow: 0px 3px 6px #C3000A4D;
                text-align: center;
                cursor: pointer;
                transition: 0.3s ease-out;
                &:nth-last-child(n+1):nth-last-child(-n+2){
                    margin-bottom: 0;
                }
                &-active{
                    background-color: #C3000A;
                    color: #F4F5F5;
                }
            }
        }
        .channels-wrapper{
            height: 513px;
            margin-top: 24px;
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-content: flex-start;
            flex-wrap: wrap;
            overflow: hidden;
            @media(min-width:440px){
                height: 342px;
            }
            &-active{
                height: unset;
            }
            
            .channel-wrapper{
                position: relative;
                margin-bottom: 16px;
                width: 120px;
                height: 155px;
                
                .icon-wrapper{
                    width: 120px;
                    height: 120px;
                    border-radius: 50%;
                    &::after{
                        content: '';
                        position: absolute;
                        display: block;
                        width: 120px;
                        height: 120px;
                        border-radius: 50%;
                        left: 0;
                        top: 0;
                        z-index: 1;
                        background-color: #5656568c;
                    }
                    &-1::after{
                        content: none;
                    }
                    .channel-icon{
                        width: 120px;
                        height: 120px;
                        border-radius: 50%;
                    }
                }
                .icon-wrapper-active{
                    &::after{
                        content: none;
                    }
                }
                
                
                .channel-name{
                    margin-top: 16px;
                    font-size: 16px;
                    font-weight: 500;
                    text-align: center;
                }
            }
        }
        .button{
            margin: 0 auto;
            margin-top: 16px;
            min-width: 110px;
            padding:6.5px 0;
            font-size: 15px;
            font-weight: 700;
            box-shadow: 0px 3px 6px #C3000A4D;
            text-align: center;
            cursor: pointer;
            transition: 0.3s ease-out;
            border: #C3000A 1px solid;
            &-more{
                background-color: white;
                color: #C3000A;
            }
            &-less{
                background-color: #C3000A;
                color: #F4F5F5;
                display: none;
            }
        }
    }
    .desktop{
        display: none;
    }
    @media(min-width:1200px){
        margin-top: 160px;

        .section-title{
            width: 100%;
            font-size: 40px;
        }
        .section-text{
            margin-top: 40px;
            text-align: left;
            font-size: 20px;
            width: 870px;
        }
    
        .mobile{
            display: none;
        }

        .desktop{
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            width: 1024px;

            .d-packages-wrapper{
                margin-top: 80px;
                display: flex;
                width: 844px;

                .d-packages{
                    width: 211px;
                    height: 45px;
                    border-bottom: 2px solid #373737;  
                    text-align: center;
                    font-size: 24px;
                    font-weight: 300;
                    color: #373737;
                    cursor: pointer;
                    box-sizing: border-box;
                    &-active{
                        color: #C3000A;
                        border-bottom: 2px solid #C3000A;  
                    }
                }
            }
            .categories{
                margin-top: 32px;
                display: flex;
                width: 100%;
                justify-content: space-between;
                flex-wrap: wrap;
                
                .d-categorie{
                    min-width: 125px;
                    height: 32px;
                    box-sizing: border-box;
                    padding:6.5px 0;
                    font-size: 18px;
                    font-weight: 300;
                    color: #C3000A;
                    box-shadow: 0px 3px 6px #00000029;
                    text-align: center;
                    cursor: pointer;
                    transition: 0.3s ease-out;
                    &:nth-last-child(n+1):nth-last-child(-n+2){
                        margin-bottom: 0;
                    }
                    &-active{
                        background-color: #C3000A;
                        color: #F4F5F5;
                    }
                }
            }
            .channels-cat-wrapper{
                margin-top: 40px;
                width:100%;
                .channels-cat{
                    position: relative;
                    width: 100%;
                    &-title{
                        font-size: 20px;
                        font-weight: 500;
                        color: #C3000A;
                    }

                    .slider-controls{
                        width: 109%;
                        position: absolute;
                        display: flex;
                        justify-content: space-between;
                        top: 100px;
                        left: -6%;
                        
                        .controls-btn{
                            position: relative;
                            z-index: 1;
                            cursor: pointer;
                        }

                    }
                    .d-channels-wrapper{
                        display: flex;
                        margin-top: 24px;
                        margin-bottom: 24px;
                        .channel-wrapper{
                            position: relative;
                            width: 74px;
                            height: 110px;
                            
                            .d-icon-wrapper{
                                width: 74px;
                                height: 74px;
                                border-radius: 50%;
                                &::after{
                                    content: '';
                                    position: absolute;
                                    display: block;
                                    width: 74px;
                                    height: 74px;
                                    border-radius: 50%;
                                    left: 0;
                                    top: 0;
                                    z-index: 1;
                                    background-color: #5656568c;
                                }
                                &-1::after{
                                    content: none;
                                }
                                .channel-icon{
                                    width: 74px;
                                    height: 74px;
                                    border-radius: 50%;
                                }
                            }
                            .d-icon-wrapper-active{
                                &::after{
                                    content: none;
                                }
                            }
                            
                            .channel-name{
                                margin-top: 16px;
                                font-size: 16px;
                                font-weight: 500;
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
    }
}
.channels-pack-graph{
    display: none;
    @media(min-width:1200px){
        display: block;
		position: absolute;
		top: 3360px;
		left: 0;
		width: 100%;
		height: 1400px;
		overflow: hidden;
		z-index: -1;
	
		.channels-pack-graph-img-1{
			position: absolute;
			top: 0px;
			right: -270px;
		}
	
		.channels-pack-graph-img-2{
			position: absolute;
			bottom: 0;
			left: -200px;
		}
    }
}
