.acordeon-tv {
	.accordion-section-title {
		text-align: center;
		width: 160px;
		font-size: 24px;
		line-height: 2.25rem;
		font-weight: 300;
		text-decoration: underline 2px #c3000a;
		text-underline-position: under;
		display: inline-block;
		margin-bottom: 40px;
	}
    .accordion-list {
        list-style: none;
    }
}

@media (min-width: 1200px) {
	.acordeon-tv {
		.accordion-section-title {
			width: 100%;
			font-size: 40px;
			margin-bottom: 100px;
		}
	}
}
