.map-section {
	width: 100%;
	text-align: center;
	margin-top: 60px;
	display: flex;
	justify-content: center;
	padding-bottom: 100px;
	&-none{
        display: none;
    }
	.graphism-wrapper {
		display: none;
	}
	.map-title {
		max-width: 160px;
		font-size: 24px;
		line-height: 36px;
		font-weight: 300;
		text-decoration: underline 2px #c3000a;
		text-underline-position: under;
		display: inline-block;
		margin-bottom: 40px;
		max-width: 160px;
	}
	.map-content {
		position: relative;
		select {
			padding: 6.5px 9.5px;
			appearance: none;
			width: 142px;
			height: 30px;
			border: 1px solid #c3000a;
			background-color: rgba(255, 255, 255, 0.8);
			color: #c3000a;
			border: 1px solid #c3000a;
			font-size: 15px;
			margin-bottom: 24px;
		}
		.categories-arrow {
			height: 10px;
			width: 16px;
			color: #c3000a;
			padding: 2px;
			display: block;
			position: absolute;
			top: 9px;
			left: 170px;
			pointer-events: none;
		}
		.city-info {
			box-shadow: 0px 3px 6px #c3000a33;
			padding: 25px 20px;
			text-align: left;
			.city-name {
				font-size: 24px;
				font-weight: 700;
				line-height: 42px;
				border-bottom: 2px solid #c3000a;
				margin-bottom: 16px;
			}
			.city-phone,
			.city-adress {
				font-size: 15px;
				font-weight: 400;
				line-height: 30px;
			}
			.cta-wrapper {
				text-align: center;
				margin-top: 30px;
				.map-link {
					text-transform: uppercase;
					display: inline-block;
					font-size: 15px;
					padding: 7px 14px;
					color: #c3000a;
					border: 1px solid rgb(195, 0, 10);
					cursor: pointer;
					text-decoration: none;
					transition: 0.3s ease-out;
					&:hover {
						background-color: #c3000a;
						transform: scale(1.1, 1.2);
						color: white;
					}
				}
			}
		}
		.map-wrapper {
			margin-top: 65px;
			svg {
				width: 254px;
				height: 157px;
				filter: drop-shadow(3px 5px 2px rgba(195, 0, 10, 0.178));
			}
			svg path {
				fill: #dbdcde;
			}

			svg path:hover {
				stroke: #000;
			}
		}
	}
}
@media (min-width: 1200px) {
	.map-section {
		margin-top: -10px;
		padding: 180px 0;
		position: relative;
		overflow-x: hidden;
		display: block;
		.graphism-wrapper {
			display: block;
			position: absolute;
			top: 385px;
			right: -210px;
			z-index: 1;
		}
		.map-title {
			font-size: 40px;
			line-height: 72px;
			margin-bottom: 100px;
			max-width: unset;
		}
		.map-content {
			text-align: left;
			max-width: 1070px;
			margin: 0 auto;
			select {
				width: 193px;
				height: 50px;
				padding: 15px 25px;
				color: #373737;
				font-size: 18px;
				line-height: 22px;
				margin-bottom: 0px;
				font-weight: 300;
			}
			.categories-arrow {
				height: 12px;
				width: 20px;
				top: 18px;
				left: 156px;
			}
			.city-info {
				box-sizing: border-box;
				width: 412px;
				padding: 32px 36px;
				position: absolute;
				top: 0;
				right: 0;
				z-index: 1;
				background-color: #ffffff;
				.city-name {
					font-size: 28px;
					border-bottom: 5px solid #c3000a;
					margin-bottom: 24px;
				}
				.city-phone,
				.city-adress {
					font-size: 20px;
				}
				.cta-wrapper {
					text-align: left;
					margin-top: 40px;
					.map-link {
						font-size: 20px;
						padding: 12px 14px;
						border: 2px solid #c3000a;
					}
				}
			}
			.map-wrapper {
				margin-top: 65px;
				svg {
					width: 799px;
					height: 495px;
				}
			}
		}
	}
}
