.contact {
	margin-top: 64px;
    margin-bottom: 64px;
	width: 100%;
	color: #373737;
	text-align: center;
	display: flex;
	justify-content: center;
	&-none{
        display: none;
    }
    .self-graphism {
        display: none;
    }
	.section-title {
		margin-bottom: 24px;
		text-align: center;
        width: 160px;
		font-size: 24px;
		line-height: 2.25rem;
		font-weight: 300;
		text-decoration: underline 2px #c3000a;
        text-underline-position: under;
		display: inline-block;
	}
	.box-grid {
		display: flex;
		flex-wrap: wrap;
		grid-gap: 16px 10px;
        justify-content: center;
		.box-wrapper {
			cursor: pointer;
			width: 122px;
			height: 122px;
			padding: 13px 10px 13px 10px;
			background-color: #ffffff;
			box-shadow: 0px 3px 6px #c3000a33;
			border: 0;
			display: flex;
			flex-direction: column;
			align-items: center;
			.box-icon {
				width: 32px;
				height: 32px;
				margin-bottom: 16px;
			}
			.box-info {
				font-size: 18px;
				line-height: 27px;
				font-family: 'Klavika';
				font-weight: 500;
			}
		}
		.box-wrapper:hover {
			background-color: #C3000A;
			color: #ffffff;
			.box-icon {
				filter: grayscale(100%) invert(1);
			}
		}
		.box-modal-wrapper{
			display: none;
			z-index: 2;
			position: absolute;	
			justify-content: center;
			align-items: center;
			height: 100vh;
			width: 100vw;
			background-color: #3737379f;

			&--form{
				&-active{
					display: flex;
				}

				.box-forms{
					background-color: white;
					border: 5px solid #C3000A;
					padding: 24px 23px;
					display: flex;
					flex-direction: column;
					align-items: center;
	
					.title{
						font-size: 28px;
						font-weight: 700;
						color: #373737;
					}
	
					.form-red-line{
						margin-top: 6.5px;
						display: block;
						width:236px;
						height: 5px;
						background-color: #C3000A;
					}
	
					.desc{
						margin-top: 24px;
						font-size: 20px;
						font-weight: 300;
						color: #373737;
					}
	
					.input-wrapper{
						.form-input{
							margin-top: 24px;
							width: 200px;
							height: 40px;
							border: #C3000A 1px solid;
							font-size: 18px;
							font-weight: 300;
							padding-left: 24px;
							color: #373737;
						}
		
						.required{
							margin-top: 8px;
							font-size: 12px;
							text-align: right;
							color: #C3000A;
							display: none;
						}
					}
					.button-wrapper{
						position: relative;
						.form-button{
							margin-top: 24px;
							font-size: 20px;
							font-weight: 500;
							color: white;
							padding: 6px 20px;
							background-color: #C3000A;
							border: none;
						}
						.button-validation{
							position: absolute;
							z-index: 2;
							left: 0;
							bottom: 0;
							cursor: pointer;
							border: none;
							background-color:#a2a2a2 ;
							color: white;
							padding: 8.5px 20px;
							font-size: 20px;
						}
					}
					.confirm-msg{
						margin: 0 auto;
						margin-top: 20px;
						display: none;
						border-radius: 5px;
						margin-top: 12px;
						background-color: rgb(90, 177, 128);
						padding: 5px 10px ;
						color: white;
					}
				}
			}

			&--painel{
				&-active{
					display: none;
				}
				.box-painel{
					background-color: white;
					border: 5px solid #C3000A;
					padding: 32px 46px;
					display: flex;
					flex-direction: column;
					align-items: center;

					.title{
						font-size: 32px;
						font-weight: 700;
						color: #373737;
					}

					.painel-red-line{
						margin-top: 6.5px;
						display: block;
						width:236px;
						height: 5px;
						background-color: #C3000A;
					}

					.tel-wrapper{
						margin-top: 24px;
						display: flex;
						align-items: center;

						.tel-icon{
							width: 40px;
							height: 40px;
							margin-right: 16px;
						}
						.tel{
							font-size: 24px;
							font-weight: 700;
							color: #373737;
						}
					}

					.tel-button{
						margin-top: 32px;
						font-size: 20px;
						font-weight: 500;
						color: white;
						padding: 12.5px 41.5px;
						background-color: #C3000A;
						border: none;
						cursor: pointer;
						transition: 0.3s;
						&:hover{
							transform: scale(1.1,1.2);
						}
					}
				}
			}

			
			
		}
	}
}
@media (min-width: 1200px) {
	.contact {
		margin-top: 230px;
        margin-bottom: 167px;
        .section-title{
            width: 100%;
            margin-bottom: 80px;
            font-size: 40px;
        }
		.box-grid {
			grid-gap: 30px 30px;
			.box-wrapper {
				width: 200px;
				height: 200px;
				padding: 30px 30px 30px 30px;
				display: flex;
				flex-direction: column;
				align-items: center;
				flex-wrap: nowrap;
				transition: 0.3s ease-out;
				&:hover{
					transform: scale(1.1);
				}
				.box-icon {
					width: 48px;
					height: 48px;
					margin-bottom: 24px;
				}
				.box-info {
					font-size: 24px;
					line-height: 32px;
				}
			}

			.box-modal-wrapper{
				.box-forms{
					padding: 32px 46px;

					.title{
						font-size: 32px;
					}

					.input-wrapper{
						.form-input{
							width: 406px;
							height: 50px;
						}
					}

					.button-wrapper{

						.form-button{
							margin-top: 32px;
							font-size: 20px;
							padding: 12.5px 41.5px;
							cursor: pointer;
							transition: 0.3s;
							&:hover{
								transform: scale(1.1,1.2);
							}
						}

						.button-validation{
							margin-top: 32px;
							font-size: 20px;
							padding: 14.5px 41.5px;
							cursor: pointer;
						}
					}
				}
				&--painel{
					&-active{
						display: flex;
						
					}
				}
			}
		}
	}
}

