.footer-section {
	font-family: 'Klavika', sans-serif;
	width: 100%;
	.upper-footer {
		display: flex;
		flex-wrap: wrap;
		text-align: center;
		justify-content: center;
		.footer-list {
			display: flex;
			margin-bottom: 32px;
			flex-wrap: wrap;
			grid-gap: 37px 24px;
			justify-content: center;
			.list-wrapper {
				.list-title {
					font-size: 18px;
					font-weight: 500;
					margin-bottom: 24px;
				}
				.list-group {
					.list-item {
						margin-bottom: 16px;
					}
					.list-link {
						font-size: 15px;
						font-weight: 300;
						text-decoration: none;
						color: #373737;
					}
					.list-item:last-child {
						margin-bottom: 0;
					}
				}
			}
		}
		.social-media {
			margin-bottom: 37px;
			width: 100%;
			.list-title {
				font-size: 24px;
				font-weight: 500;
				margin-bottom: 24px;
			}
			.icons-wrapper {
				.social-link:not(:last-child) {
					margin-right: 28px;
				}
				.social-icon {
					width: 17px;
					height: 32px;
				}
			}
		}
	}
	.bottom-footer::before {
		content: '';
		display: block;
		background-color: #c3000a;
		color: #c3000a;
		padding-top: 2px;
		margin-bottom: 32px;
		width: 100%;
	}
	.bottom-footer {
		.footer-info {
			.bottom-footer-content {
				.footer-items {
					text-align: center;
					display: flex;
					flex-wrap: wrap;
					justify-content: center;
					grid-gap: 16px 37px;
					.info-item {
						font-size: 15px;
						font-weight: 300;
						text-decoration: none;
						color: #373737;
					}
					.info-item::after {
						content: '';
						display: inline-block;
						background-color: #c3000a;
						width: 8px;
						height: 8px;
						border-radius: 50%;
						margin-left: 16px;
					}
				}
				.footer-logo {
					display: none;
				}
			}
		}
	}
}
@media (min-width: 1200px) {
	.footer-section {
		.upper-footer {
			width: 100%;
			flex-wrap: nowrap;
            justify-content: space-around;
			.footer-list {
				margin-bottom: 40px;
				flex-wrap: nowrap;
				grid-gap: 0px 80px;
				.list-wrapper {
                    
					.list-title {
						font-size: 24px;
					}
					.list-group {
						.list-link {
							font-size: 20px;
						}
					}
				}
			}
			.social-media {
				margin-bottom: 0px;
                width: 30%;
				.list-title {
					font-size: 24px;
					margin-bottom: 32px;
				}
			}
		}
		.bottom-footer {
			flex-direction: column;
			.footer-info {
				.bottom-footer-content {
					display: flex;
					.footer-items {
						text-align: left;
						justify-content: unset;
						grid-gap: 16px 37px;
						.info-item {
							font-size: 20px;
						}
					}
					.footer-logo {
						display: block;
                        width: 214px;
                        height: 32px;
					}
				}
			}
		}
	}
}
