.header{
    position: fixed;
    z-index: 3;
    width: 100%;
    height: 64px;
    background-color: white;
    
    .header-wrapper{
        margin-left: 28px;
        margin-right: 28px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        z-index: 2;
        background-color: white;
    }

    .header-logo{
        width: 134px;
        height: 20px;
    }

    .header-nav{
        display: none;
    }

    .header-nav-icon{
        width: 29px;
        height: 20px;
    }

    @media(min-width: 1200px){
        height: 120px;

        .header-wrapper{
            margin-left: 98px;
            margin-right: 98px;
            justify-content: flex-start;
        }

        .header-nav-link{

            .header-logo{
                width: 200px;
                height: 30px;
            }
        }

        .header-nav{
            width: 100%;
            height: 100%;
            margin-left: 24px;
            display: flex;
            flex-direction: column;

            .nav-up{
                margin-top: 25px;
                width: 100%;
                display: flex;
                justify-content: space-between;

                .nav-for-who{
                    display: flex;
                    justify-content: space-between;
                    width: 212px;
            
                    .for-who-itens{
                        font-size: 18px;
                        font-weight: 300;
                        color: #373737;
                        
                        &-active{
                            color:#C3000A
                        }

                        &:hover{
                            color:#C3000A
                        }
                    }
                }

                .nav-cities{
                    position: relative;
                    padding: 0 10px;
                    min-width: 101px;
                    height: 21px;

                    .nav-select{
                    position: relative;
                    margin-right: 30px;
                    width: 100%;
                    background-color: white;
                    border: none ;
                    color: #373737;
                    outline:none;
                    font-size: 18px;
                    font-weight: 300;
                    cursor: pointer;
                    }

                    & select[class="nav-select"]{
                        appearance: none;
                    }
                    .nav-image{
                        padding: 2px;
                        display: block;
                        position: absolute;
                        top:0;
                        right: 0;
                        pointer-events: none;
                    }
                }
            }

            .nav-down{
                margin-top: 25px;
                width: 100%;
                display: flex;
                justify-content: space-between;
                
                .menu-desk{
                    
                    .menu{
                        display:flex;
                        position: relative;
                        z-index: 3;
          
                        .menu-item{
                            display: inline;
                            font-weight: 500;
                            padding-right: 32px;
                            cursor: pointer;
                            transition: 0.3s ease-out;
                            max-width:115px ;
                            overflow: hidden;
                            text-align: center;
                            &:hover{
                                transform: scale(1.1);
                            }                        

                            &:nth-last-child(1){
                                padding-right:0;
                            }
            
                            a{
                                font-size: 20px;
                                text-decoration: none;
                                color: #373737;
                                
                            }
                            &:hover{
                                &::after{
                                    left: 0;
                                    top: 48px;
                                    position: absolute;
                                    width: 100%;
                                    height: 2px;
                                    content: '';
                                    background-color:#C3000A;
                                }                     
                                
                            }
                            &-has-children{
                                .sub-menu{
                                    padding-top: 30px;
                                    display: flex;
                                    flex-direction: column;
                                    max-height: 0px;
                                    overflow: hidden;

                                    .menu-item{
                                        background-color: #FFFFFFF2;
                                        display: inline;
                                        margin-right: 0;
                                        font-size: 20px;
                                        font-weight: 500;
                                        padding: 0;
                                        padding-top: 7px;
                                        padding-bottom: 7px;
                                        border:none;
                                        &:hover{
                                            &::after{
                                                display: none;
                                            }                     
                                        }
                                    }
                                }

                                &:hover .sub-menu{
                                    max-height: unset;
                                    padding-bottom: 25px;
                                    padding-left: 5px;
                                    padding-right: 5px;
                                }
                            }   
                        }
                    }
                }              

                .nav-buttons{
                    display: flex;
                    justify-content: flex-end;
                    width: 208px;

                    .button{
                        font-size: 18px;
                        font-weight: 300;
                        width: 92px;
                        height: 27px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        cursor: pointer;
                        background-color: white;
                        border: none;

                        
                        .button-img{
                            margin-right:16px;
                            height: 27px;
                            width: 27px;
                        }
                        .link-login {
                            font-size: 18px;
                            color:#373737;
                            font-weight: 300;
                        }
                    }
                    .search{
                        display: none;
                    }
                }
            }
        }

        .header-nav-icon{
            display: none;
        }
    }

    .sub-menu-space{
        position: absolute;
        top: 120px;
        left: 0;
        height: 0;
        overflow: hidden;
        width: 100%;
        background-color: #FFFFFFF2;

        &-active{
            height: 105px;
        }
    }
}
