.page404 {
	margin: 0 auto;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 90vw;
	height: 90vh;
	text-align: center;
}
.container {
	width: 100%;
}

.page404__title {
	font-size: 24px;
	position: relative;
}

.page404__title::after {
	content: '';
	left: 50%;
	bottom: -13px;
	transform: translateX(-50%);
	position: absolute;
	width: 160px;
	border-bottom: 5px solid #c3000a;
}

.page404__description {
	margin-top: 32px;
	margin-bottom: 40px;
	font-size: 15px;
}

.page404__button {
	padding: 6px 42px;
	background-color: #c3000a;
	text-decoration: none;
	color: white;
	font-size: 15px;
}

@media (min-width: 1366px) {
	.page404__title {
		font-size: 40px;
	}

	.page404__title::after {
		width: 264px;
	}

	.page404__description {
		font-size: 20px;
		margin-bottom: 54px;
	}

	.page404__button {
		padding: 13px 72px;
		font-size: 20px;
	}
}
