.interactive-section {
	text-align: center;
	justify-content: center;
	.section-title {
		font-size: 24px;
		line-height: 36px;
		font-weight: 300;
		text-decoration: underline 2px #c3000a;
		text-underline-position: under;
		display: inline-block;
		margin-bottom: 40px;
		max-width: 170px;
	}
	.comparison {
		width: 320px;
		height: 340px;
		position: relative;
		margin: 0 auto;
		overflow-x: hidden;
		margin-bottom: 28px;
		.slide {
			position: absolute;
			width: 100%;
			height: 100%;
			display: block;
		}
		.slide1 {
			object-fit: cover;
			object-position: center;
			position: absolute;
			width: 100%;
			height: 100%;
			display: block;
		}
		.slide2 {
			object-fit: cover;
			object-position: center;
			left: 100%;
			position: absolute;
			width: 100%;
			height: 100%;
			display: block;
			transition: 0.4s;
		}
		.active {
			left: 0;
		}
	}
	.switch-wrapper {
		display: flex;
		flex-direction: column;
		margin-bottom: 24px;
		.switch {
			margin: 0 auto 24px;
			position: relative;
			display: inline-block;
			width: 217px;
			height: 35px;
			#checkLabel {
				display: none;
			}
			.slider {
				position: absolute;
				cursor: pointer;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background-color: #cccccc;
				transition: 0.4s;
				border-radius: 45px;
			}
			input:checked + .slider {
				background-color: #c3000a80;
			}
			input:checked + .slider:before {
				transform: translateX(170px);
			}
			.slider:before {
				position: absolute;
				left: 0;
				bottom: 3px;
				content: '';
				height: 30px;
				width: 47px;
				border-radius: 45px;
				background-color: #ffffff;
				box-shadow: 0px 3px 6px #00000029;
				transition: 0.4s;
			}
		}
		.labels {
			.off-desktop,
			.on-desktop {
				font-size: 18px;
				color: #c3000a;
				line-height: 22px;
			}
			.off-desktop {
				margin-right: 72px;
			}
		}
	}
	.content {
		margin-bottom: 70px;
		text-align: center;
		.content-title {
			font-size: 24px;
			line-height: 36px;
			color: #c3000a;
			max-width: 270px;
			display: inline-block;
			margin-bottom: 16px;
		}
		.content-description {
			font-size: 15px;
			font-weight: 300;
			color: #373737;
			line-height: 22.5px;
			margin-bottom: 31px;
		}
		.content-cta {
			display: inline-block;
			font-size: 15px;
			color: #c3000a;
			padding: 6.5px 18.3px;
			border: 1px solid #c3000a;
			transition: 0.3s ease-out;
			&:hover {
				background-color: #c3000a;
				transform: scale(1.1, 1.2);
				color: white;
			}
		}
	}
}
@media (min-width: 1200px) {
    .interactive-section {
		margin-top: 150px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .laptop-background {
            background-image: url(../../assets/NoPath.png);
            width: 822px;
            height: 467px;
            position: absolute;
            top: 135px;
            left: calc(var(--container-size) + 0);
        }
        .section-title {
            font-size: 39px;
            line-height: 70px;
            margin-bottom: 100px;
            max-width: 450px;
        }
        .comparison {
            bottom: 10px;
            width: 646px;
            height: 395px;
            position: relative;
            overflow-x: hidden;
            margin-bottom: 100px;
            .slide {
                position: absolute;
                width: 100%;
                height: 100%;
                display: block;
            }
            .slide1 {
                object-fit: cover;
                object-position: center;
                position: absolute;
                width: 100%;
                height: 100%;
                display: block;
            }
            .slide2 {
                object-fit: cover;
                object-position: center;
                left: 100%;
                position: absolute;
                width: 100%;
                height: 100%;
                display: block;
                transition: 0.4s;
            }
            .active {
                left: 0;
            }
        }
        .switch-wrapper {
            margin-bottom: 32px;
            .switch {
                //margin: 0 auto 16px;
                margin-bottom: 16px;
                width: 574px;
                height: 54px; 
                input:checked + .slider:before {
                    transform: translateX(448px);
                }
                .slider:before {   
                    height: 50px;
                    width: 126px;
                }
            }
            .labels {
                .off-desktop,
                .on-desktop {
                    font-size: 24px;
                    line-height: 29px;
                }
                .off-desktop {
                    margin-right: 328px;
                }
            }
        }
        .content {
			margin-bottom: 0;
            .content-title {
                font-size: 36px;
                line-height: 44px;
                max-width: 400px;
                margin-bottom: 40px;
            }
            .content-description {
                font-size: 20px;
                line-height: 24px;
                max-width: 400px;
                //margin: 0 auto 40px;
                margin-bottom: 40px;
            }
            .content-cta {
                font-size: 20px;
                color: #c3000a;
                padding: 12.5px 41px;
                border: 2px solid #c3000a;
                
            }
        }
    }
}

.interactive-graph{
    display: none;
    @media(min-width:1200px){
        display: block;
		position: absolute;
		top: 2250px;
		left: 0;
		width: 100%;
		height: 1100px;
		overflow: hidden;
		z-index: -1;
	
		.interactive-graph-img-1{
			position: absolute;
			top: 75px;
			left: -185px;
		}
	
		.interactive-graph-img-2{
			position: absolute;
			bottom: -175px;
			right: -275px;
		}
    }
}